
h1
{
  color: #fafafa;
  text-align: center;
  background-color : rgb(0, 0, 0);
}
p {
  color: rgb(0, 0, 0);
  font-family: Trebuchet;
  font-size: 160%;
  margin: 0px;
  text-align: end;
}
body {
  background-color: rgb(255, 255, 255);
}