h1 {
  color: #fafafa;
  text-align: center;
  background-color: rgb(0, 0, 0);
  font-family: 'Segoe UI';
}

p {
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI';
  font-size: 160%;
  margin: 0px;
  text-align: left;
}

body {
  background-color: rgb(196, 195, 195);
}
